*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.exe
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dll
*.lib

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Debug
/ipch